{% extends 'base.html' %}

{% block head %}
    <title>Recipes</title>
{% endblock %}

{% block body %}
    <h2>Create New Recipe:</h2>
    <form method="Post">
        Title: <input type="text" class="form-control" name="title" id="title" placeholder="Type the Recipe Name"><br>
        Recipe: <textarea name="description" class="form-control" id="description" placeholder="Please insert the recipe description here"></textarea><br>
        <input type="submit" class="btn btn-success" value="Post">
    </form>
{% endblock %}