{% extends 'base.html' %}

{% block head %}
    <title>Recipes</title>
{% endblock %}

{% block body %}
    <h1>All recipes</h1>
    <a href="/recipes/new/" class="btn btn-success float-right">New Recipe</a>

<hr>
    {% for recipe in recipes %}
        {% if recipe.author %}
            <small>Added by {{ recipe.author }} on {{recipe.date_posted}}</small>
        {% else %}
            <small>Added by Unknown on {{recipe.date_posted}}</small>
        {% endif %}
        <h2>{{ recipe.title }}</h2>
        <p style="white-space: pre-wrap">{{ recipe.description }}</p>
        <a href="/recipes/delete/{{ recipe.id }}" class="btn btn-danger">Delete</a>
        <a href="/recipes/edit/{{ recipe.id }}" class="btn btn-primary">Update</a><br><br>
    {% endfor %}

{% endblock %}